<% if (typeof(countryname) != "undefined") { %>
	
	<div class="countrydetail-tooltip">
		<h3> <%= countryname %> </h3>
		</hr>

		<p>Interesting information about <%= countryname %></p>
	</div>

<% } %>