<div class="country-tooltip">
    <div class="country-tooltip-close">X</div>
    <h3><%= name %></h3>

    </hr>

    <p>Interesting information about <%= name %></p>

    <div class="chart"></div>
</div>
