<% if (typeof(countryname) != "undefined") { %>
	
	<div class="countrydetail-tooltip">
		<h3> <%= countryname %> </h3>
		</hr>

		<p>Interessante Informationen zu <%= countryname %></p>
	</div>

<% } %>