<div class="country-container">

	<div class="country-tooltip">

		<div class="country-tooltip-close">X</div>

		<h3><%= name %></h3>

		</hr>

		<% if ( this.currentCountry.get('drugs') ) { %>

			<ul class="nav nav-tabs" id="tab">
				<li <% if ( this.currentDrug == 'cannabis' ) { %> class="active" <% } %> ><a href="#cannabis" data-toggle="tab">Cannabis</a></li>
				<li <% if ( this.currentDrug == 'amphetamines' ) { %> class="active" <% } %> ><a href="#amphetamines" data-toggle="tab">Amphetamines</a></li>
				<li <% if ( this.currentDrug == 'cocaine' ) { %> class="active" <% } %> ><a href="#cocaine" data-toggle="tab">Cocaine</a></li>
				<li <% if ( this.currentDrug == 'ecstasy' ) { %> class="active" <% } %> ><a href="#ecstasy" data-toggle="tab">Ecstasy</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="cannabis"><div class="chart chart-cannabis"></div></div>
				<div class="tab-pane fade" id="amphetamines"><div class="chart chart-amphetamines"></div></div>
				<div class="tab-pane fade" id="cocaine"><div class="chart chart-cocaine"></div></div>
				<div class="tab-pane fade" id="ecstasy"><div class="chart chart-ecstasy"></div></div>
			</div>

		<% }; %>

	</div>

	<div class="country-drop-container"></div>

	<div class="country-add-view-container"></div>

</div>