<ul class="list-unstlyed list-inline">

    <li>
        <button class="btn btn-primary" data-filter="region-code">Regions</button>
    </li>
    <li>
        <button class="btn btn-primary" data-filter="sub-region-code">Sub-Regions</button>
    </li>
    <li>
        <button class="btn btn-primary" data-filter="detail">Details Available</button>
    </li>
    <li>
        <button class="btn btn-primary" data-filter="greenTest">Shades of green</button>
    </li>

</ul>
