<ul class="list-unstyled list-inline">

    <li class="btn btn-region" data-filter="region-code">Regions</li>
    <li class="btn btn-sub-region" data-filter="sub-region-code">Sub Regions</li>
    <li class="btn cannabis" data-filter="greenTest">Cannabis</li>

</ul>
