<ul class="list-unstyled list-inline">

    <li class="cannabis-filter btn-filter" data-filter="cannabis"></li>
    <li class="ecstasy-filter btn-filter" data-filter="ecstasy"></li>
    <li class="amphetamine-filter btn-filter" data-filter="amphetamines"></li>
    <li class="cocaine-filter btn-filter" data-filter="cocaine"></li>

    <span class="title">Awesome <%= filter %> Map</span>

</ul>