<ul class="list-unstyled list-inline">

<!--     <li class="btn btn-region" data-filter="region-code">Regions</li>
    <li class="btn btn-sub-region" data-filter="sub-region-code">Sub Regions</li>
    <li class="btn cannabis" data-filter="greenTest">Cannabis</li> --> 
    <li class="cannabis-btn" data-filter="greenTest"></li>
    <li class="ecstasy-btn" data-filter="region-code"></li>
    <li class="amphetamine-btn" data-filter="sub-region-code"></li>
    <li class="cocaine-btn" data-filter="region-code"></li>

    <li class="title">Awesome Map</li>

</ul>
