#country-wrapper{
  position: fixed;
  width: 300px;
  top: 50px;
  left: 0
}

#country{
  position: fixed;
  top: 100px;
  left: 10px;
}

.country-tooltip{
  background: #ffffff;
  padding: 10px;
}


.bar-cannabis {
  background-color: rgb(74,117,34);
  color: #FFF;
  padding: 2px;
}

.country-tooltip {
  position: relative;
  background-color: #CCC;
  border-radius: 5px;
}

.country-tooltip-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font: 20px mono;
  cursor: pointer;
}
