@import "map";

html, body {
  background: #fcfcfa;
  height: 100%;
  width: 100%;
}

#map-wrapper, #map{
  width: 100%;
  height: 100%;
}

#map-wrapper{
}

#countrydetail-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
}

#countrydetail{
  position: fixed;
  top: 100px;
  left: 10px;
}


nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

  ul{
    margin: 7px 0 0 10px !important;
  }

}

