@import "map";
@import "overlay";
@import "navigation";

html, body {
  background: #fff;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

hr{
  border-top: 0 !important;
  background-color: #FFF;
}

#map-wrapper, #map{
  width: 100%;
  height: 100%;
}






