@import "map";
@import "country";

html, body {
  background: #fff;
  height: 100%;
  width: 100%;
}

#map-wrapper, #map{
  width: 100%;
  height: 100%;
}

nav{
  position: fixed;
  top: 0;
  width: auto;
  height: 50px;

  ul{
    margin: 7px 0 0 10px !important;
  }

}



