@import "bootstrap-and-overrides";

@import "map";

html, body {
  background: #fcfcfa;
  height: 100%;
  width: 100%;
}

#map-wrapper, #map{
  width: 100%;
  height: 100%;
}

#map-wrapper{
  margin-top: 50px;
}


nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

  ul{
    margin: 7px 0 0 10px !important;
  }

}