.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.container {
  min-width: 1170px;
}

.country{
  &:hover {
    fill: rgba(149, 165, 166, .5) !important;
  }
}

.country.active{
   fill: red !important;
}
