@mixin country-border() {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  @include country-border();
}

.container {
  min-width: 1170px;
}

.country.active{
   fill: #657273 !important;
}

.country.no-data {
  @include country-border();
  fill-opacity: 0.2;
}

.country.AQ {
  fill: white !important;
  stroke: black!important;
}

#states{
  display: none
}