#overlay {
    position: fixed;
    width: 500px;
    top: 100px;
    left: 0;
}

hr{
    background-color: #FFF;
}

.chart{
    position: relative;
}
.chart .bar {
    padding: 3px;
    margin-bottom: 3px;
    color: #395063;
    background: #fff;


    .baseline{
        background-color: #c0392b;
        position: absolute;
        display: block;
        top: 0;
        height: 100%;
        width: 2px;
    }
}

.overlay-tooltip-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font: 20px mono;
    cursor: pointer;
}

.country-controls {
    position: absolute;
    top: 0px;
    font: 20px 'Source Sans Pro',sans-serif;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 0px;
    font-weight: 800;
}
.country-close {

    right: 0px;
}

.country-pin {
    right: 30px
}

.country-close:hover {
    color: #395063;
}

.country {
  position: relative;
  padding: 15px;
  font-weight: 200;
  background-color: rgba(0,0,0,.75);
  border-radius: 0px;


    h3{
        font-weight: 800;
        margin-top: 0px;
        margin-right: 40px;
        color: #fff;
    }
    p{
        color: #fff;
    }
    .tab-content{
        margin-top: 5px;
    }
}

.dropdown {
    float: right;
}

#slider {
    margin-top: 25px;
    margin-bottom: 20px;
    display: inline-block;
    width: 85%;
    -webkit-appearance: none;
    background-color: #fff;
    height: 10px;
    vertical-align: middle;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    height: 18px;
    width: 18px;
}

.output {
    display: inline-block;
    line-height: 1;
    padding-left: 10px;
}
