#overlay {
    position: fixed;
    width: 500px;
    top: 100px;
    left: 0;
}

hr{
    background-color: #FFF;
}

.chart .bar {
    padding: 3px;
    margin-bottom: 3px;
    color: #395063;
    background: #fff;
}

.overlay-tooltip-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font: 20px mono;
    cursor: pointer;
}


.overlay-add-view {
    position: relative;
    text-align: center;
    border-radius: 5px;
    background: #ffffff;
    margin-top: 20px;
    width: 55px;
    height: 55px;
    font: 40px 'Source Sans Pro',sans-serif;
    cursor: pointer;
    font-weight: 800;
    color: #5BCC8D;
    box-shadow: 0px 0px 0px 2px #5BCC8D;
    border-radius: 0px;
}

.overlay-add-view:hover {
    color: #395063;
}

.country-controls {
    position: absolute;
    top: 0px;
    font: 20px 'Source Sans Pro',sans-serif;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 0px;
    font-weight: 800;
}
.country-close {

    right: 0px;
}

.country-pin {
    right: 30px
}

.country-close:hover {
    color: #395063;
}


.country {
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    padding: 10px;
    font-weight: 200;
    background-color: #5BCC8D;
    box-shadow: 0px 0px 0px 2px #5BCC8D;
    border: 7px solid #fff;
    border-radius: 0px;


    h3{
        font-weight: 800;
        margin-top: 0px;
        margin-right: 40px;
        color: #395063;
    }
    p{
        color: #fff;
    }
    .tab-content{
        margin-top: 5px;
    }
}
