@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
.fill {
  fill: #fff; }

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5; }

.land {
  fill: #222; }

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round; }

.container {
  min-width: 1170px; }

.country:hover, .state:hover {
  fill: rgba(149, 165, 166, 0.5) !important; }

.country.active {
  fill: #657273 !important; }

.country.no-data {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-opacity: 0.2; }

.country.AQ {
  fill: white !important;
  stroke: black !important; }

#states {
  display: none; }

#overlay {
  position: fixed;
  width: 500px;
  top: 100px;
  left: 0; }

hr {
  background-color: #FFF; }

.chart {
  position: relative; }

.chart .bar {
  padding: 3px;
  margin-bottom: 3px;
  color: #395063;
  background: #fff; }
  .chart .bar .baseline {
    background-color: #c0392b;
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 2px; }

.overlay-tooltip-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font: 20px mono;
  cursor: pointer; }

.country-controls {
  position: absolute;
  top: 0px;
  font: 20px 'Source Sans Pro', sans-serif;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  margin-top: 0px;
  font-weight: 800; }

.country-close {
  right: 0px; }

.country-pin {
  right: 30px; }

.country-close:hover {
  color: #395063; }

.country {
  position: relative;
  padding: 15px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0px; }
  .country h3 {
    font-weight: 800;
    margin-top: 0px;
    margin-right: 40px;
    color: #fff; }
  .country p {
    color: #fff; }
  .country .tab-content {
    margin-top: 5px; }

.dropdown {
  float: right; }

#slider {
  display: inline-block;
  width: 85%; }

.output {
  display: inline-block;
  line-height: 1;
  padding-left: 10px; }

html, body {
  background: #fff;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif; }

hr {
  border-top: 0 !important;
  background-color: #FFF; }

#map-wrapper, #map {
  width: 100%;
  height: 100%; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  background: rgba(0, 0, 0, 0.75); }
  nav ul {
    margin: 7px 0 0 10px !important; }
  nav .btn {
    border-radius: 0px !important;
    padding: 5px 20px !important; }
    nav .btn.btn-region {
      background-color: #3498db;
      color: #FFF; }
    nav .btn.btn-sub-region {
      background-color: #2ecc71;
      color: #FFF; }

.title {
  position: absolute;
  color: #fff;
  margin: -16px 0 0 50%;
  left: -190px;
  font-size: 64px;
  font-family: 'Leckerli One', cursive !important; }

.cannabis-btn {
  background: #5bcc8d url('../img/cannabis.png') no-repeat;
  background-size: 70px 70px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer; }

.cannabis-btn:hover {
  background: #82CCA3 url('../img/cannabis.png') no-repeat; }

.ecstasy-btn {
  background: #F1D430 url('../img/ecstasy.png') no-repeat;
  background-size: 70px 70px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer; }

.ecstasy-btn:hover {
  background: #F1DB7C url('../img/ecstasy.png') no-repeat; }

.amphetamine-btn {
  background: #E75E52 url('../img/amphetamine.png') no-repeat;
  background-size: 70px 70px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer; }

.amphetamine-btn:hover {
  background: #E78F85 url('../img/amphetamine.png') no-repeat; }

.cocaine-btn {
  background: #c87fd3 url('../img/cocaine.png') no-repeat;
  background-size: 70px 70px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer; }

.cocaine-btn:hover {
  background: #CC9CD3 url('../img/cocaine.png') no-repeat; }
