@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
.fill {
  fill: #fff; }

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5; }

.land {
  fill: #222; }

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round; }

.container {
  min-width: 1170px; }

.country:not(#europe):hover, .state:hover {
  fill: rgba(149, 165, 166, 0.5) !important; }

#europe:hover, .country.US:hover {
  fill: #95a5a6 !important; }

.country.no-data {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-opacity: 0.2; }

.country.AQ {
  fill: white !important;
  stroke: black !important; }

#states {
  display: none; }

#overlay {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0; }

hr {
  background-color: #FFF; }

.chart {
  position: relative; }

.chart .bar {
  padding: 3px;
  margin-bottom: 3px;
  color: #395063;
  background: #fff;
  font-size: 12px;
  font-weight: 700; }
  .chart .bar .baseline {
    background-color: #c0392b;
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 2px; }

.overlay-tooltip-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font: 20px mono;
  cursor: pointer; }

.country-controls {
  position: absolute;
  top: 0px;
  font: 20px 'Source Sans Pro', sans-serif;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  margin-top: 0px;
  font-weight: 800; }

.country-close {
  right: 0px; }

.country-pin {
  right: 30px; }

.country-close:hover {
  color: #395063; }

.country {
  position: relative;
  padding: 15px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0px; }
  .country h3 {
    font-weight: 800;
    margin-top: 0px;
    margin-right: 40px;
    color: #fff; }
  .country p {
    color: #fff; }
  .country .tab-content {
    margin-top: 5px; }

.dropdown {
  float: right; }

#slider {
  margin-top: 25px;
  margin-bottom: 20px;
  display: inline-block;
  width: 85%;
  -webkit-appearance: none;
  background-color: #fff;
  height: 10px;
  vertical-align: middle; }

#slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #2c3e50;
  height: 18px;
  width: 18px; }

.output {
  display: inline-block;
  line-height: 1;
  padding-left: 10px; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  background: rgba(0, 0, 0, 0.75); }
  nav ul {
    margin: 7px 0 0 10px !important; }

.title {
  position: absolute;
  color: #fff;
  margin: -16px 0 0 50%;
  left: -230px;
  font-size: 64px;
  font-family: 'Leckerli One', cursive !important; }

.btn-filter {
  height: 70px;
  width: 70px;
  cursor: pointer;
  background-size: 70px 70px;
  border-radius: 50%;
  background-size: 70px 70px;
  border-radius: 50%;
  background-repeat: no-repeat; }

.cannabis-filter {
  background-color: #5bcc8d;
  background-image: url('../img/cannabis.png'); }
  .cannabis-filter:hover {
    background-color: #82CCA3; }

.ecstasy-filter {
  background-color: #F1D430;
  background-image: url('../img/ecstasy.png'); }
  .ecstasy-filter:hover {
    background-color: #F1DB7C; }

.amphetamine-filter {
  background-color: #E75E52;
  background-image: url('../img/amphetamine.png'); }
  .amphetamine-filter:hover {
    background-color: #E78F85; }

.cocaine-filter {
  background-color: #c87fd3;
  background-image: url('../img/cocaine.png'); }
  .cocaine-filter:hover {
    background-color: #CC9CD3; }

.cigarette-filter {
  background-color: #61BCBA;
  background-image: url('../img/cigarette.png'); }
  .cigarette-filter:hover {
    background-color: #84D3CF; }

.alcohol-filter {
  background-color: #3A78C1;
  background-image: url('../img/alcohol.png'); }
  .alcohol-filter:hover {
    background-color: #639CD3; }

html, body {
  background: #fff;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif; }

hr {
  border-top: 0 !important;
  background-color: #FFF; }

#map-wrapper, #map {
  width: 100%;
  height: 100%; }
